*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body{
    background-color: #1f1507;
    color: #f5deb3;
    font-size: 16px;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-size: 28px;
    font-weight: 500;
    position: relative;
    padding-left: 50px;
    display: block;
}
.logo::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url('../img/icons/logo.svg');
}

.phone {
    position: relative;
    padding-left: 30px;
    transition: .3s linear;
    display: block;

}

.phone:hover {
    transform: scale(1.05);
}

.phone::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url('../img/icons/phone.svg');
}

/* ============ header ============ */ 

.header {
    background-color: #1e1e1e;
    padding: 10px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_links {
    display: flex;
    align-items: center;
}

.header_links li {
    margin-right: 15px;
}

.header_links li:last-child {
    margin-right: 0;
} 

.header_links a {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    transition: linear .3s;
}


.header_links a:hover {
    background-color: rgb(10, 8, 8);
    border-bottom: 1px solid #f5deb3;

}













/* ========== catalog ========== */
.catalog {
    margin: 100px 0;
}

.catalog__inner{
    display: flex;
    
}

.filter {
    width: 300px;
    overflow: hidden;
    min-width: 300px;
    
}
.filter__wrapper{
    background-color: rgb(83, 79, 15);
    padding: 15px 0;
}
.filter__search {
    position: relative;
    width: 100%;
    height: 30px;
}

.filter__search-input {
    width: 100%;
    height: 30px;
    padding: 0 40px 0 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: linear .2s;
    
}


.filter__search-input:focus {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}


.filter__search-button {
    font-size: 0;
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/search-btn.svg);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    transition: .3s linear;
}

.filter__search-button:hover {
    transform: scale(1.05) translateY(-50%);
}

.filter__select {
    width: 100%;
    display: block;
    margin-top: 20px;
    height: 30px;
}

.filter__select-button {
    width: 100%;
    height: 30px;
    font-weight: 600;
    background-color: white;
    margin-top: 10px;
    transition: .3s linear;
}

.filter__select-button:hover {
    background-color: green;
}

.filter__inner {
    margin-top: 20px;
    padding-left: 15px;
}

.filter__item {
    margin-bottom: 10px;
}

.filter__item-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.filter__item-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     
}

.filter__item-content .checkbox {
    width: 50%;
    margin-bottom: 10px;
}

.catalog__cards {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    column-gap: 19px;
    row-gap: 19px;
    transition: linear 0.5s;
    width: 100%;
    
}

.card {
    width: 320px;
    position: relative;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    
}

.card__sale {
    position: absolute;
    z-index: -1;
}

.card__img {
    height: 250px;
}

.card__img img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.card_content {
    padding: 10px;
}

.card__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.card__desc {
    margin-bottom: 10px;
}

.card__price {
    font-weight: 600;
    margin-bottom: 10px;
}

.card_button {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    font-size: 20px;
    transition: .3s linear;
}

.card_button:hover {
    background-color:#9f8e17;
    
}











.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .checkboxreal {
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0;
    appearance: none;
  }
  .checkboxfake {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #EAEAF0;
    background-color: #fff;
    border-radius: 4px;
  }
  .checkboxreal:checked + .checkboxfake {
    background-color: #9f8e17;
  }
  .checkboxreal:checked + .checkboxfake::before {
    position: absolute;
    content: '';
    background-image: url('../img/icons/check.svg');
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
  }
  .checkbox__title {
    font-weight: 500;
  }

.footer {
    margin-left: 50%;
}



/* ============ Adminka ============== */

.panel__inner {

    display: flex;
    align-items: flex-start;


}

.panel__aside {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.tabs {
    
}

.tabs__item {
    display: block;
    padding: 10px 5px;
    background-color:#1e1e1e;
    
}

.logout {
    display: block;
    padding: 10px 5px;
    background-color:#1e1e1e;
}









































